consul:
  enable: true
  service_name: ""
  address: ""
  datacenter: ""
  port: 8500

redis:
  enable: true
  host: "" 
  password: ""
  db: 1

postgres:
  host: "" 
  database: ""
  username: ""
  password: ""
  ssl: false
