consul:
  enable: true
  service_name: ""
  service_address: "auto" 
  address: ""
  datacenter: "dc1"
  port: 8500

redis:
  enable: false
  host: "" 
  password: ""
  db: 0

postgres:
  host: "" 
  database: "go_fs"
  username: ""
  password: ""
  ssl: false

http:
  port: 3000
  allow_insert: true
  allow_delete: true
  rate_limit_enable: false

telemetry:
  jaeger_address: "jaeger"
  logs_path: "./logs/"
  logs_max_size: 500
  logs_max_backups: 3
  logs_max_age: 28
